@font-face {
	font-family: "rajdhani";
	src: url("fonts/rajdhani/Rajdhani-Medium.ttf");
}
@font-face {
	font-family: "montserrat";
	src: url("fonts/montserrat/Montserrat-ExtraLight.ttf");
}

body {
	background-color: #202226;
	padding: 0;
	margin: 0;
	font-family: "montserrat";
}


#header {
	height: 75px;
	position: fixed;
  z-index: 50;
  background-color: rgba(17, 20, 22, 1);
  top: 0;
  left: 0;
  width: 100%;
	height: 76px;
	z-index: 40;
	margin-left: auto;
	margin-right: auto;
}

#header ul {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin-top: 0;
}

#header ul li {
	position: relative;
	display: flex;
	height: 100%;
	align-items: center;
	margin-top: .75rem;
	margin-bottom: .75rem;
	font-weight: 400;
	margin-left: 10px;
	margin-right: 10px;
}

#header ul li a {
	display: block;
	text-align: center;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,1);
	letter-spacing: .05em;
	text-decoration: inherit;
}

.nav-link.active {
	margin-left: 0px;
	margin-right: 0px;
	z-index: 0;
}

.nav-link.active::after {
	content: "";
	position: absolute;
	z-index: 0;
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgba(242, 200, 0, 1);
	height: 3px;
	width: 100%;
	left: 0;
	bottom: -8px;
}

.nav-link.active:hover::after {
	animation: animatedMenu .5s linear forwards;
}

.text-div {
	box-shadow: 0px 5px 10px 0px #000000;
	width: calc(100% - 100px);
	margin: 50px;
	margin-bottom: 0;
	height: calc(100% - 20px);
	padding: 20px 50px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	background-image: url("/img/bg-correct.png");
}

.text-div h2{
	font-size: 50px;
	line-height: .8;
	color: rgba(242,200,0,1);
	margin-bottom: .75rem;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: -.025em;
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: 2rem;
	font-size: 20px;
	line-height: 1.75rem;
	font-weight: 500;
	line-height: 1.25;
	color: rgba(161,169,175,1);
}

#footer{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    min-height: 100px;
    height: 100px;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 1);
    
}

#footer p {
	padding-left: 200px;
	margin: auto;
	color: rgba(54,42,0);
}

#footer img {
	width: 25vw;
	position: relative;
	z-index: 20;
	width: 200px;
	margin-left: auto; 
	right: 0;
	height: 243px;
	margin-top: -143px;
}

#wrapper {
	min-height: calc(100vh - 250px);
	padding-top: 100px;
	margin-bottom: 50px;
}

.form {
	width: fit-content;
	box-sizing: border-box;
}

.file-upload-wrapper {
  position: relative;
  width: 350px;
  height: 100px;
}
.file-upload-wrapper input {
  display: none;
}
.file-upload-wrapper input:hover {
	cursor: pointer;
}
.file-upload-wrapper label {
	color:  rgba(161,169,175,1);
	border: 1px rgba(242,200,0,1) dashed;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	padding: 10px 25px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}
.file-upload-wrapper label span {
	display: flex;
	margin: auto;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 350px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  border-image: linear-gradient(to right, rgba(242,200,0,1), rgba(153,126,0,1));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgba(242,200,0,1);
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.submit-button {
	border: 0;
	padding: 15px 30px;
	display: flex;
	margin: auto;
	margin-top: 30px;
	cursor: pointer;
}

.submit-button:hover {
  background-color: rgba(242,200,0,1);
  animation: linear transform 2s;
  transform: translateY(-3px);
}

.custom-toggle {
  position: relative;
  transition: transform 0.2s;
  transform: scale(var(--scale, 1)) translateZ(0);
	margin: 15px 10px 15px 10px;
	text-align: center;
}
.custom-toggle:active {
  --scale: .96;
}
.custom-toggle input {
  display: none;
}
.custom-toggle input + label {
  padding: 8px 0 8px 0px;
  min-width: 208px;
  display: block;
  cursor: pointer;
  position: relative;
}
.custom-toggle input + label .switch {
  position: relative;
  display: inline-block;
  z-index: 1;
  vertical-align: top;
  height: 22px;
  width: 50px;
  border-radius: 11px;
  background: #d7d7d7;
}
.custom-toggle input + label .switch .dot {
  background: rgba(43, 43, 43, 1);
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: -1px;
  top: -1px;
  transform: translateX(var(--offset, 0));
  transition: transform 0.4s;
}
.custom-toggle input:checked + label .dot {
  background-color: rgba(242,200,0,1);
}
.custom-toggle input + label span {
  line-height: 22px;
  font-size: 16px;
  color: rgba(161,169,175,1);
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  position: relative;
  margin-left: 12px;
  transition: color 0.4s;
}
.custom-toggle input + label + span {
  text-align: center;
  display: block;
  opacity: 0;
  font-size: 12px;
  font-weight: 500;
  color: rgba(161,169,175,1);
  transform: translateY(0px);
  transition: opacity 0.4s, transform 0.4s;
}
.custom-toggle input:not(:checked) + label + span {
  opacity: 1;
  transform: translateY(4px);
}
.custom-toggle input:checked + label {
  --offset: 28px;
  --gradient: 1;
}